root {
    display: block;
}
.root {
    -fx-background-image: url("background.jpg");
    -fx-padding: 16px;
    -fx-border-insets: 16px;
}
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

#welcome-text {
    -fx-font-size: 24px;
    -fx-fill: #3e5481;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 3, 0.0 , 0 , 2 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "sans-serif";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.text{
    -fx-font-smoothing-type: lcd;
}